.contact-main {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-top: 100px;
  margin-bottom: 70px;
  .contact-components {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 80%;
    .contact-heading {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }
    .contact-form {
      width: 100%;
      display: flex;
      justify-content: center;
      form {
        width: 70%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        .form-top {
          display: flex;
          gap: 50px;
          .form-top1 {
            width: 50%;
          }
          .form-top2 {
            width: 50%;
          }
        }
        input {
          background-color: transparent;
          border: 1px solid gray;
        }
        textarea {
          background-color: transparent;
          border: 1px solid gray;
          height: 150px;
        }
        button {
          width: 20%;
          border-radius: 50px;
        }
      }
    }
  }
}

body.dark .contact-main {
  .contact-components {
    .contact-form {
      form {
        input, textarea {
          color: white;
        }
        input::placeholder,
        textarea::placeholder {
          color: rgb(136, 135, 135);
        }
      }
    }
  }
}
