.footer-main {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 50px;
  background-color: rgb(232, 247, 253);
  .footer-components {
    display: flex;
    flex-direction: column;
    width: 80%;
    .footer-top {
      display: flex;
      justify-content: space-evenly;
      border-bottom: 1px solid rgb(172, 171, 171);
      padding-bottom: 20px;
      margin-bottom: 15px;
      width: 100%;

      .footer-top-left {
        justify-content: left;
        width: 60%;
        p {
          width: 70%;
          font-size: 14px;
        }
        .footer-links {
          display: flex;
          gap: 20px;
          a {
            text-decoration: none;
            transition: 0.5s;
          }
          a:hover {
            transition: 0.5s;
            color: rgb(103, 69, 255);
          }
        }
        .footer-logo {
          justify-content: left;
          width: 20%;
          display: flex;
          gap: 5px;
          align-items: center;
          img {
            width: 40px;
          }
          h4 {
            font-size: 20px;
            font-weight: 700;
            font-family: Poppins;
          }
          #footer-ai {
            color: rgb(120, 90, 253);
          }
        }
      }
      .footer-top-right {
        width: 40%;
        display: flex;
        flex-direction: column;
        h5 {
          font-size: 18px;
        }
        p {
          font-size: 14px;
        }
        .newsinp {
          display: flex;
          gap: 5px;
          input {
            border: 1px solid gray;
            padding: 0px 10px;
            border-radius: 5px;
            width: 110%;
            background-color: transparent;
          }
        }
      }
    }
    .footer-bottom {
      margin-top: 10px;
      display: flex;
      width: 100%;
      p {
        width: 50%;
        display: flex;
        justify-content: left;
        color: grey;
      }
      .icons {
        width: 50%;
        display: flex;
        justify-content: right;
        gap: 10px;
        a {
          color: grey;
          font-size: 20px;
        }
      }
    }
  }
}
body.dark .footer-main {
  background-color: rgb(21, 18, 41);
}
